.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

.countries--first {
  justify-content: flex-start;
}

.countries--second {
  justify-content: space-around;
}

.countries--third {
  flex-direction: column;
  justify-content: start;
}

.countries--fourth {
  justify-content: space-around;
  flex-direction: column-reverse;
}
